.doctors {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    gap: 20px 30px;
    width: 90%;
    margin: 40px auto 0;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.page h2 {
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    margin-top: 60px;
}