.doctors {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    gap: 35px 20px;
    width: 90%;
    margin: 25px auto 0;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.page h2 {
    margin-top: 40px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}