.div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.div p {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #050505;
    margin-top: 0 !important;
}