.page h2 {
    margin-top: 40px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.page {
    padding-bottom: 40px;
}

.page .service {
    width: 90%;
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: space-between;
    align-items: center;

}